.heigh {
    height: 50rem;
    transition: .3s ease-out;
}

.heigh:hover {
    transform: scale(1.01);
    transition: .3s ease-in;
}

.skeleton {
    opacity: .5;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}